body {
	background-color: #46F;
	width: 900px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

#body {
	margin-top: 0px;
	background-color: #FFF;
	height: 1500px;
}

#header {
	top: 0px;
	margin-top: -140px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	height: 250px;
	background-image: url('../img/header.jpg');
}

#header_text {
	font-size: 100pt;
	font-family: Gill Sans, Helvetica;
	font-style: italic;
	font-weight: bold;
	color: #FF4;
}

#menu {
	margin-top: 0px;
	padding-top: 0px;
	background-color: #9BF;
	float: left;
	width: 200px;
	height: 1250px;
}

#products {
	float: right;
	width: 700px;
}

.product {
	margin: 40px;
	padding: 50px;
	background-color: #9BF;
	border-radius: 50px;
	height: 200px;
	font-family: Helvetica;
	font-size: 11pt;
}

.product_image {
	float: left;
	width: 200px;
	margin-right: 20px;
}

.product_details {
	float: right;
	width: 250px;
}

.product_name {
	font-weight: bold;
}

.product_description {
	
}

.product_price {
	position: relative;
	top: 50px;
	font-weight: bold;
	font-size: 12pt;
	color: #F00;
}


img {
}